.button {
	background     : lighten(#222, 3%);
	display        : flex;
	justify-content: center;
	align-items    : center;
	cursor         : pointer;

	&:hover {
		background: lighten(#222, 5%);
	}
}

.equal {
	background: #0C746A;

	&:hover {
		background: lighten(#0C746A, 5%);
	}
}